{% extends 'base.html.twig' %}

{% block title %}
  Nouvelle réservation -Etape 2
{% endblock %}

{% block content %}
  <div class="container text-center">
    <h1>Nouvelle réservation</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
