{% extends 'base.html.twig' %}

{% block title %}
  Hello LoginController!
{% endblock %}

{% block content %}
  <!-- Header -->
  <div class="container px-4 p-5 text-center">
    {% if error %}
      <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('app_login') }}" method="post">
      <div class="mb-3">
        <label for="username" class="form-label">Email:</label>
        <input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}" />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe:</label>
        <input type="password" class="form-control" id="password" name="_password" />
      </div>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

      <button type="submit" class="btn btn-light">Se connecter</button>
    </form>
  </div>
{% endblock %}
